body{
      background-color:white;
      font-family: Century Gothic;
      font-style: 
      }
.header{
    
     border-radius: 10px 10px 0px 0px;
     width: 1000px;
     height:50px;
     margin:auto;
     text-align: center;
     align-content: center;
     background:	#00CD00;
     
     }
.header1{
    border-radius: 10px 10px 10px 10px;
     width: 250px;
     height:675px;
     margin:auto;
     text-align: center;
     align-content: center;
     background:#00EE76;
     float:right;
     }
.header2{
     border-radius: 10px 10px 10px 10px;
     width: 250px;
     height:675px;
     margin:auto;
     text-align: center;
     align-content: center;
     background:#00EE76	;
     float:left;
     }
.center{
    border-right: 0px;
    width: 1000px;
    height:575px;
    overflow: auto;
    margin:auto;
    text-align: center;
    align-content: center;
    background:#00EE76;
;
    /*background-image: linear-gradient(to bottom left, white, skiblue);*/
    }

.footer{
    border-radius: 0px 0px 10px 10px;
    width: 1000px;
    height:50px;
    overflow: auto;
    margin:auto;
    text-align: center;
    align-content: center;
    background:	#00CD00;
    }
.img{
    border-radius: 10px 10px 10px 10px;
    margin:auto;
    width: 100px;
    height:100px;
        
    }
.img2{
    border-radius: 50%;
    margin:auto;
    width: 100px;
    height:100px;
    float: right;

        
    }
h2{
    font-family: Century Gothic;  
}
.menu-display {        
    display: flex;
    }
.menu-link {
    margin:auto;
    text-align: center;
    align-content: center;
    background-color:lightgreen;
    border:5px solid black; 
    padding:10px;
    width:150px
    }
.menu-link:hover {
    background-color: #51caf3;
    color: #fff;
    }
p{
     font-family: Century Gothic;
     font-size:18px;
}