body{
      background-color:white;
      font-family: Century Gothic;
      font-style: 
      }
.header{
    overflow: auto;
     border-radius: 10px 10px 0px 0px;
     width: 57.5%;
     height:10%;
     margin:auto;
     text-align: center;
     align-content: center;
     background:	#00CD00;
     
     }
.header1{
    border-radius: 10px 10px 10px 10px;
     width: 19%;
     height:35%;
     margin:auto;
     text-align: center;
     align-content: center;
     background:#00EE76;
     overflow: auto;
     float:right;
     }
.header2{
     border-radius: 10px 10px 10px 10px;
     width: 19%;
     height:35%;
     margin:auto;
     text-align: center;
     align-content: center;
     background:#00EE76	;
     overflow: auto;
     float:left;
     }
.center{
    border-right: 0px;
    width: 57.5%;
    height:35%;
    overflow: auto;
    margin:auto;
    text-align: center;
    align-content: center;
    background:#00EE76;
;
    /*background-image: linear-gradient(to bottom left, white, skiblue);*/
    }

.footer{
    border-radius: 0px 0px 10px 10px;
    width: 57.5%;
    height:10%;
    overflow: auto;
    margin:auto;
    text-align: center;
    align-content: center;
    background:	#00CD00;
    }
.img{
    border-radius: 10px 10px 10px 10px;
    margin:auto;
    width: 45%;
    height:45%;
        
    }
.img2{
    border-radius: 50%;
    margin:auto;
    width: 7.5%;
    height:7.5%;
    float: right;

        
    }
h2{
    font-family: Century Gothic;  
}
.menu-display {        
    display: flex;
    }
.menu-link {
    margin:auto;
    text-align: center;
    align-content: center;
    background-color:lightgreen;
    border:5px solid black; 
    padding:10px;
    width:150px
    }
.menu-link:hover {
    background-color: #51caf3;
    color: #fff;
    }
p{
     font-family: Century Gothic;
     font-size:18px;
}